@model List<PerkCanadaProject.Models.CBCNewsStory>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1 style="text-align:center"> CBC News Feeds </h1>
    <div>
        @foreach (var cbcNewsStory in Model)
        {
            <div class="row">
                <div class="container-fluid" style="background-color:antiquewhite">

                    <h6> @cbcNewsStory.PubDate </h6>
                    
                    <a href="@cbcNewsStory.Link" target="_blank" style="color:black">
                        <h2>@cbcNewsStory.Title</h2>

                        <p>@Html.Raw(cbcNewsStory.Description)</p>
                    </a>

                    @if (@cbcNewsStory.AuthorName == "")
                    {
                <p>By: Not Found <h10 style="float:right;">*Please click on image for more information</h10> </p>
                    }
                    else
                    {
                <p>By: @cbcNewsStory.AuthorName <h10 style="float:right;">*Please click on image for more information</h10> </p>

                    }

                </div>
            </div>
            <br />
        }
    </div>
</body>
</html>